<footer>
    <h2>&copy; Beauty Organizer</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beauties">Available</a></li>
            <li><a href="/reviews">My Reviews</a></li>
            <li><a href="/beauties/new">Add an item</a></li>
        </ul>
    </nav>
</footer>