<footer>
    <h2>&copy; Beauty Organizer</h2>
    <nav>
        <ul>
            <li class="tooltip">
                <a href="/"><span class="material-symbols-outlined" alt="home button">home</span></a>
                <span class="tooltiptext tooltip-top">home</span>
            </li>
            <li class="tooltip">
                <a href="/beauties"><span class="material-symbols-outlined" alt="item list">list_alt</span></a>
                <span class="tooltiptext tooltip-top">list</span>
            </li>
            <li class="tooltip">
                <a href="/reviews"><span class="material-symbols-outlined" alt="review list">reviews</span></a>
                <span class="tooltiptext tooltip-top">reviews</span>
            </li>
            <li class="tooltip">
                <a href="/beauties/new"><span class="material-symbols-outlined" alt="add button">add_box</span></a>
                <span class="tooltiptext tooltip-top">add</span>
            </li>
        </ul>
    </nav>
</footer>