<footer>
    <h2>&copy; Beauty Organizer</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beauties">my Stash</a></li>
            <li><a href="/reviews">my Reviews</a></li>
            <li><a href="/beauties/new">add to Stash</a></li>
        </ul>
    </nav>
</footer>