<footer>
    <h2>&copy; Beauty Organizer</h2>
    <nav>
        <ul>
            <li><a href="/"><span class="material-symbols-outlined">
                home
                </span></a></li>
            <li><a href="/beauties"><span class="material-symbols-outlined">
                list_alt
                </span></a></li>
            <li><a href="/reviews"><span class="material-symbols-outlined">
                reviews
                </span></a></li>
            <li><a href="/beauties/new"><span class="material-symbols-outlined">
                add_box
                </span></a></li>
        </ul>
    </nav>
</footer>