<header>
    <a href="/">
        <h1>Beauty Organizer</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pets">Available</a></li>
            <li><a href="/reviews">My Reviews</a></li>
        </ul>
    </nav>
</header>