<header>
    <h1>Beauty Organizer</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beauties">Available</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
    </nav>
</header>
