

.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardPic {
    max-width: 400px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    padding: 20px;
    text-align: center;
}

img {
    width: 40%;
    min-width: 100px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card {
    max-width: 500px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    padding: 20px;
    text-align: center;
}

.beauty-name {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin: 0 20%;
    margin-bottom: 50px;
}

strong {
    font-weight: bold;
}

/* .featured {
    background-color: #ffd700;
} */

/* Style Action Buttons */
.actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn a {
    color: #fff;
    font-family: 'Lobster', cursive;
}

/* My Reviews */
/* .reviews {
    padding: 30px;
    height: fit-content;
    max-height: 50vh;
    overflow-y: overlay;
    width: 100%;
}

.reviews h1 {
    font-size: 32px;
    font-weight: bold;
}

hr {
    margin-bottom: 1rem;
} */

/* .reviews ul {
    list-style: none;
}

.reviews li {
    background-color: #ccc;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
}

.reviews a {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
} */