.hero {
    height: 20vh;
    min-height: 175px;
}

form {
    width: 40%;
    min-width: 300px;
    margin: 0 auto 2rem auto;
}

label {
    font-family: 'Nunito Sans', sans-serif;;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: lightskyblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Lobster', cursive;
    font-size: 22px;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

/* https://www.w3schools.com/css/css_icons.asp */
.spa, .star, .leaf, .flower, .heart, .moon, .orange {
    position: absolute;
    overflow-x: auto;
    z-index: -1;
    color: darkgrey;
    font-size: 48px;
}

.spa {
    margin: 30vh 85vw 0 15vw;
}

.leaf {
    margin: 55vh 15vw 0 85vw;
}

.flower {
    margin: 60vh 20vw 0 80vw;
}

.heart {
    margin: 80vh 95vw 0 10vw;
}

.moon {
    margin: 85vh 90vw 0 15vw;
}

.orange {
    margin: 110vh 15vw 0 85vw;
}