/* About section styles */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 2rem;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.about h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    
}

.about p {
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 1rem;

}

/* https://www.w3schools.com/css/css_icons.asp */
.spa, .leaf, .flower, .heart, .orange {
    position: absolute;
    overflow-x: auto;
    z-index: -1;
    color: darkgrey;
}

.spa {
    margin: 10px 60vw 0 40vw;
    font-size: 48px;
}

.leaf {
    margin: 20vh 20vw 0 80vw;
    font-size: 48px;
}

.flower {
    margin: 50vh 95vw 0 15vw;
    font-size: 48px;
}

.heart {
    margin: 60vh 95vw 0 10vw;
    font-size: 48px;
}

.orange {
    margin: 80vh 15vw 0 85vw;
    font-size: 48px;
}

